.row.authorization.session-main
  .col-md-4.col-md-offset-4
    %h2 Username, appname would like to connect to your account.
    %p appname by Creator would like to use the ability to ability

    %h3 Allow appname access?

.row.authorization.session-footer
  .col-md-4.col-md-offset-4.session-footer-logo
    %p.text-center
      = link_to 'Supurl', '/'
